html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 200, 200);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    color: rgb(255, 0, 98);
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
span{
    color:rgb(255, 0, 98);
}
button{
    background-color: rgb(255, 0, 98);
    color: rgb(24, 24, 24);
    border-radius: 150px ;
    border: 0;
}
input{
    background-color: rgb(36, 36, 36);
    color:rgb(255, 200, 200);
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 150px 150px 0;
    border: 0;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 150px 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input:hover{
    border: 2px solid var(rgb(255, 200, 200);
}