:root{
  --accent-color: rgb(255, 0, 98);
  --base-color: rgb(24, 24, 24);
  --text-color: rgb(255, 200, 200);
  --input-color: rgb(36, 36, 36);
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 200, 200);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    color: rgb(255, 0, 98);
}
svg{
    fill: var(--input-color);
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
form{
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--text-color)
}
form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}
form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 100px 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input{
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 100px 100px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
  color: var(--text-color)
}
form input:hover{
  border-color: var(--accent-color);
}
form input:focus{
  outline: none;
  border-color: var(--text-color);
}
div:has(input:focus) > label{
  background-color: var(--text-color);
}
form input::placeholder{
  color: var(--text-color);
}
form button{
  margin-top: 5px;
  border: none;
  border-radius: 1000px;
  padding: .85em 2em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-size: 0.85em;
  font-weight: 600;
  cursor: pointer;
  transition: 150ms ease;
}
form button:hover{
  background-color: var(--text-color);
}
form button:focus{
  outline: none;
  background-color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--accent-color);
}
a:hover{
  text-decoration: underline;
}

form div.incorrect label{
  background-color: #f06272;
}
form div.incorrect input{
  border-color: #f06272;
}
#error-message{
  color:#f06272;
}